<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta charset="utf-8"/>
    <title>{{ siteName }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% do craft.app.view.registerCssFile('@web/style.css') %}
  </head>
  <body>
      <div class="media">Reading: 3 Shades of Blue by James Kaplan <span class="emph">&bull;</span> Listening: End by Explosions in the Sky <span class="emph">&bull;</span> Watching: old Kurosawa movies</div>
      <div class="container">
        <nav>
            <div class="logo"><img src="/assets/nav-logo.png"></div>
                <ul>
                    <li><a href="">Resume</a>
                    <li><a href="">LinkedIn</a>
                    <li><a href="">Github</a>
                    <li><a href="">Email</a>
                </ul>
        </nav>
        
        {% block content %}
        {# Nothing here, yet! #}
        {% endblock %}
      
          <footer>
          <img src="/assets/footer-logo.png">
              <p><span class="emph">Thanks for stopping by!</span><br>
                  Let's design and build our own websites again. I built this one using <a href="https://craftcms.com/">Craft CMS.</a></p>
          </footer>
          
      </div>

  </body>
</html>
