        <nav>
            <a class="logo" href="https://www.thegreathambino.co"><img src="/assets/nav-logo.png"></a>
                <ul>
                    <li><a href="/assets/TimHamilton-DesignerMar282025.pdf">Resume</a>
                    <li><a href="https://www.linkedin.com/in/tim-hamilton/">LinkedIn</a>
                    <li><a href="https://github.com/timhamilton6/">Github</a>
                    <li><a href="mailto:'tim.hamilton6@gmail.com'">Email</a>
                </ul>
        </nav>
