
{% extends '_layout' %}


{% block content %}

<header>

<div class="headline">
 <h1>Howdy! I'm<br>Tim Hamilton,</h1>
    <div class="sub">and <span class="emph">I solve design problems</span>.</div>
  </div>
  
  <div class="text">
    With thirteen-plus years of design under my <s>belt</s> baseball cap, I take on a plethora of roles to lead with efficient discovery, quick iteration, and speed to market, using product <span class="emph">&amp;</span> strategy <span class="emph">&amp;</span> web <span class="emph">&amp;</span> visual <span class="emph">&amp;</span> copy <span class="emph">&amp;</span> motion <span class="emph">&amp;</span> illustration <span class="emph">&amp;</span> code. (<span class="emph">&amp;</span> sometimes guitars.)
  </div>
</header>

<img class="tjh" src="assets/tjh.png">

<h2>Case studies.</h2>

 <section class="case-studies">

     
     <div class="single-study">
      <div class="study-txt">
        <h3>ACDS Observatory.</h3>
        <p>Advanced, in-depth, enterprise-level attack surface management tool.  I've led design and design strategy from its initial proof of concept  through to working directly with a massive American customer in the  financial sphere.</p>
        <a class="button" href="">See More</a>
      </div>
        <div class="study-img"></div>
    </div>
     
     <div class="single-study">
      <div class="study-txt">
        <h3>Truckstop Go.</h3>
        <p>A mobile logistics app for iOS and Android. Lead end-to-end product designer, handling research, implementation, and stakeholder management. Instrumental in Truckstop's internal design culture, where I helped their processes for shipping product and gathering feedback quickly.</p>
        <a class="button" href="">See More</a>
      </div>
        <div class="study-img"></div>
    </div>
     
     <div class="single-study">
      <div class="study-txt">
        <h3>RedShelf Inclusive Access.</h3>
        <p>Actionable data and communication tools about student participation in a higher-ed institution's course material distribution program. Led UX and interface design; worked in collaboration with our product manager, engineering team, and accessibility director; evangelized for design strategy.</p>
        <a class="button" href="">See More</a>
      </div>
        <div class="study-img"></div>
    </div>
     
     <div class="single-study">
      <div class="study-txt">
        <h3>Dispatch by Rebellion Defense.</h3>
        <p>Leans on AI for joint military operational planning; recommends courses of action by calculating mission objectives, available assets, environmental factors. I led UX through early stages including needs assessment and object-oriented design classifications.</p>
        <a class="button" href="">See More</a>
      </div>
        <div class="study-img"></div>
    </div>
     
          <div class="single-study">
      <div class="study-txt">
        <h3>Etcetera.</h3>
        <p>I've been fortunate enough to have worked on everything from websites to animations to sports equipment graphics throughout the years. I'm sharing some of my favorites here.</p>
        <a class="button" href="">See More</a>
      </div>
        <div class="study-img"></div>
    </div>
   
    
  </section>
 
{% endblock %}
