@font-face {
  font-family: "ApfelGrotezk-Fett";
  src: url("fonts/ApfelGrotezk-Fett.woff2") format("woff2");
}
@font-face {
  font-family: "ApfelGrotezk-Mittel";
  src: url("fonts/ApfelGrotezk-Mittel.woff2") format("woff2");
}
@font-face {
  font-family: "ApfelGrotezk-Regular";
  src: url("fonts/ApfelGrotezk-Regular.woff2") format("woff2");
}
body {
  background: #FCFCFD;
  font-family: "ApfelGrotezk-Regular";
  padding: 0;
  margin: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@keyframes fadeInUp {
  0% {
    /*transform: translateY(3.5%);*/
    opacity: 0;
  }
  100% {
    /*transform: translateY(0%);*/
    opacity: 1;
  }
}
.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

h1 {
  font-size: 5.0625rem;
  line-height: 90%;
  letter-spacing: -0.0172rem;
  font-family: "ApfelGrotezk-Fett";
  margin: 0;
}

h2 {
  font-size: 3.375rem; /*line-height: 1.1852rem;*/
  letter-spacing: -0.0107rem;
  border-bottom: 4px solid #F85009;
}

h3 {
  font-size: 2.25rem;
  line-height: 2.2222rem;
  letter-spacing: -0.0011rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.3333rem;
  letter-spacing: 0.0133rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.035rem;
}

a, a:visited {
  color: #F85009;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes reveal {
  from {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
}
.revealing-image {
  /* Create View Timeline */
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
  /* Attach animation, linked to the  View Timeline */
  animation: linear reveal both;
  animation-timeline: --revealing-image;
  /* Tweak range when effect should run*/
  animation-range: entry 5% cover 30%;
}

.emph {
  color: #F85009;
}

.container {
  max-width: 1075px;
  margin: 0 auto;
  padding: 1.5rem;
}

.media {
  background: #F85009;
  color: #FCFCFD;
  text-align: center;
  padding: 0.25rem;
  font-size: 0.875rem;
}
.media .emph {
  color: #282828;
}

nav {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin: 0 1rem;
}

nav ul li a, nav ul li a:visited {
  color: #282828;
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 24px;
  margin: 0;
  padding: 4rem 0 2rem;
  align-items: center;
}

.headline {
  grid-column: span 4/span 4;
}

header.case-studies .headline {
  grid-column: span 7/span 7;
}
header.case-studies .headline h1 strong {
  color: #F85009;
}

.sub {
  font-family: "ApfelGrotezk-Mittel";
  font-size: 2.2rem;
}

.text {
  grid-column: span 3/span 3;
  grid-column-start: 6;
  font-size: 1.2rem;
  line-height: 140%;
}

.tjh {
  display: block;
  margin-bottom: 4rem;
}

.case-studies {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 24px;
}

.single-study {
  grid-column: span 8/span 8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 24px;
  align-items: center;
  margin: 1rem 0;
}

.study-img {
  grid-column: span 4/span 4;
  grid-column-start: 5;
  border-radius: 0.5rem;
}

.study-txt {
  grid-column: span 3/span 3;
}
.study-txt h3 {
  margin-top: 0.5rem;
}

footer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.875rem;
  width: 100%;
}

.featured-image {
  grid-column: span 8/span 8;
}

/*entry content*/
.entry-piece {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 24px;
}
.entry-piece img {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.left, .right {
  grid-column: span 4/span 4;
}

.img-full {
  margin-top: 1rem;
}

.img-full .inner-wrap {
  grid-column: span 8/span 8;
}

.txt-big-full {
  display: grid;
  font-size: 1.5rem;
}
.txt-big-full .inner-wrap {
  text-align: center;
  grid-column: span 6/span 6;
  grid-column-start: 2;
}
.txt-big-full .inner-wrap p {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.txt-img-grid .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.txt-img-grid .right img {
  margin-bottom: 24px;
}

.txt-1-half {
  display: grid;
}
.txt-1-half .left {
  grid-column: span 4/span 4;
}

@media screen and (max-width: 1040px) {
  .text {
    grid-column: span 4/span 4;
    grid-column-start: 5;
  }
  .home h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 850px) {
  .home h1 {
    font-size: 3.5rem;
  }
  .home .sub {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 770px) {
  .home h1 {
    font-size: 3rem;
  }
  .home .sub {
    font-size: 1.4rem;
  }
  .study-txt {
    grid-column: span 4/span 4;
  }
}
@media screen and (max-width: 650px) {
  body {
    border-top: 8px solid #F85009;
  }
  .media {
    display: none;
  }
  nav {
    margin-top: 0;
  }
  header {
    padding: 2rem 0 2rem;
  }
  .headline {
    grid-column: span 8/span 8;
  }
  h1 {
    font-size: 3.5rem;
  }
  .text {
    grid-column: span 8/span 8;
    grid-column-start: 1;
  }
  h2 {
    font-size: 7vw;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.7rem;
  }
  a.button {
    font-size: 1.7rem;
  }
  .study-txt {
    grid-column: span 8/span 8;
    order: 2;
  }
  .study-img {
    grid-column: span 8/span 8;
  }
  .left, .right {
    grid-column: span 8/span 8;
  }
  .left img, .right img {
    width: 100%;
  }
  .txt-big-full .inner-wrap {
    grid-column: span 8/span 8;
    grid-column-start: 1;
  }
  .txt-1-half .left {
    grid-column: span 8/span 8;
  }
}
@media screen and (max-width: 500px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    padding: 0;
  }
  nav ul li {
    margin: 0 0.5rem;
  }
  header {
    padding-bottom: 0;
  }
  .tjh {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 102%;
  }
  .txt-big-full .inner-wrap p {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .sub {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
